body {
	margin: 0;
	padding: 0;
}

.container {
	margin: 0 auto;
	max-width: 940px;
}

.home {
	margin: 0 auto;
	padding: 50px 0;
	background-image: url(img/bg-menu.jpg);
	background-size:cover;
	background-position: center;
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu {
	display:flex;
	margin: 0;
	padding: 0;
}

.menu li {
	list-style: none;
	margin-left: 40px;
}

.menu li a {
	text-decoration: none;
	font-size: 14px;
	color: #fff;
}

.welcome {
	text-align: center;
	margin-top: 30vh;

}
.home h2 {
	color: #fff;
	font-size: 40px;
	font-weight: lighter;
	font-family: Arial;
	text-transform: uppercase;
	margin-bottom: 50px;
	line-height: 1;
}

.home h1 {
	color: #fff;
	font-size: 75px;
	font-family: Arial;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 50px;
	margin-top: 0;
	line-height: 1;
}

.welcome .button {
	color: #484543;
	display: inline-block;
	background-color: #fed136;
	padding: 25px 50px;
	font-size: 18px;
	font-weight: bold;
	font-family: Arial;
	text-transform: uppercase;
	cursor: pointer;
}
