body {
	margin: 0;
	padding: 0;
	font-family: Arial;
}

h2 {
	font-weight: bold;
	font-size: 40px;
	text-transform: uppercase;
	line-height: 1;
}

p {
	font-size: 15px;
	color: #777777;
}

.container {
	margin: 0 auto;
	max-width: 940px;
	padding: 0;
}

.heading {
	text-align: center;
}

.home {
	margin: 0 auto;
	padding: 50px 0;
	background-image: url(img/bg-menu.jpg);
	background-size:cover;
	background-position: center;
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
}

#menu_button {
	display: none;

}

.menu {
	display:flex;
	margin: 0;
	padding: 0;
}

.menu li {
	list-style: none;
	margin-left: 40px;
}

.menu li a {
	text-decoration: none;
	font-size: 14px;
	color: #fff;
}

.welcome {
	text-align: center;
	margin-top: 30vh;
}

.welcome h2 {
	color: #fff;
	margin-bottom: 50px;
	font-weight: lighter;
}

.welcome h1 {
	color: #fff;
	font-size: 75px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 50px;
	margin-top: 0;
	line-height: 1;
}

.welcome .button {
	color: #484543;
	display: inline-block;
	background-color: #fed136;
	padding: 25px 50px;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
}

.services {
	height: 500px;
	background-color:white;
}

.services .heading {
	margin-top: 120px;
}

.heading h2 {
	margin: 0;
}

.services-content {
	display: flex;
	margin-top: 80px;
	justify-content: space-between;
}

.services-content a {
	text-decoration: none;
	color: black;
}

.services-content div {
	text-align: center;
	width: 270px;
	padding: 0 5px;
}

.services-content p {
	font-size: 13px;
	line-height: 1.6;
	font-weight: bold;
}


@media only screen and (max-width: 1050px) {
	.header {
		margin: 0 45px;
	}
}

@media only screen and (max-width: 695px) {
	#menu_button {
	display: block;
}
	.menu {
		display:none;
	}

	.services-content {
	flex-wrap: wrap;
	margin-top: 80px;
	justify-content: center;
	}
}


@media only screen and (max-width: 480px) {
	.home {
		padding: 30px 0;
		height: 100%;
	}

	.welcome {
		text-align: center;
		margin-top: 10vh;
	}

	.welcome h2 {
		font-size: 30px;
		margin-bottom: 30px;
	}

	.welcome h1 {
		font-size: 55px;
		margin-bottom: 30px;
	}

	.welcome .button {
		padding: 19px 38px;
		font-size: 15px;
	}
}


